<a href="https://colab.research.google.com/github/chingyaousf/Intern-project/blob/main/DeepDEP_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Read the CSV file
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table.csv")

# Transpose the DataFrame
arranged_table_transposed = arranged_table.transpose()

# Reset the index and set new column names
arranged_table_transposed = arranged_table_transposed.reset_index()
arranged_table_transposed.columns = arranged_table_transposed.iloc[0]
arranged_table_transposed = arranged_table_transposed.iloc[1:]

# Adjust the leftmost column to count from 0
arranged_table_transposed.reset_index(drop=True, inplace=True)

# Save the transposed DataFrame to a CSV file
arranged_table_transposed.to_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table_transposed.csv", index=False)

arranged_table_transposed

,DepMap_ID,A1BG (1) Dep,A1BG (1) Exp,A1CF (29974) Dep,A1CF (29974) Exp,A2M (2) Dep,A2M (2) Exp,A2ML1 (144568) Dep,A2ML1 (144568) Exp,A3GALT2 (127550) Dep,...,ZYG11A (440590) Dep,ZYG11A (440590) Exp,ZYG11B (79699) Dep,ZYG11B (79699) Exp,ZYX (7791) Dep,ZYX (7791) Exp,ZZEF1 (23140) Dep,ZZEF1 (23140) Exp,ZZZ3 (26009) Dep,ZZZ3 (26009) Exp
0,ACH-000001,0.094568,3.116032,0.012519,0.056584,0.02746,0.226509,0.025962,0.111031,0.073412,...,0.082956,3.28244,0.012,2.797013,0.003592,6.821455,0.012679,3.01078,0.324623,4.381975
1,ACH-000004,0.012676,4.178715,0.049011,0.0,0.075933,0.214125,0.033215,0.344828,0.013176,...,0.060266,0.014355,0.128375,2.032101,0.005911,7.002252,0.004645,3.444932,0.04253,4.910733
2,ACH-000005,0.053957,4.003602,0.027968,0.014355,0.010139,0.137504,0.005448,0.014355,0.018599,...,0.034712,0.014355,0.092832,2.761285,0.012482,6.826421,0.020843,3.524816,0.050412,5.592457
3,ACH-000007,0.026704,0.137504,0.083588,1.405992,0.008853,0.201634,0.011299,0.0,0.027288,...,0.035241,0.014355,0.138445,1.989139,0.103161,6.332708,0.146222,3.673556,0.274833,3.469886
4,ACH-000009,0.059383,1.464668,0.051826,3.586164,0.01537,0.250962,0.011721,0.0,0.030062,...,0.18955,1.356144,0.328064,2.956057,0.035161,7.853185,0.058402,3.44228,0.269194,3.351911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,0.063758,1.967169,0.039244,0.0,0.029825,2.198494,0.034174,0.0,0.139199,...,0.068998,0.014355,0.144264,4.173127,0.067693,6.560256,0.081846,2.969012,0.131433,5.276869
1001,ACH-002800,0.030591,3.847997,0.040334,0.0,0.00188,5.899901,0.005053,0.321928,0.154874,...,0.040005,0.62293,0.077345,3.084064,0.038227,6.596935,0.048967,3.177918,0.033994,4.847997
1002,ACH-002834,0.01272,1.819668,0.08384,0.014355,0.013308,0.014355,0.013315,0.201634,0.107286,...,0.029711,1.400538,0.024132,2.568032,0.174946,6.953498,0.09151,3.087463,0.421153,4.226509
1003,ACH-002847,0.058547,2.990955,0.079576,0.0,0.036707,7.60844,0.030234,0.014355,0.069976,...,0.072452,1.480265,0.131375,2.748461,0.115486,7.432041,0.094022,2.903038,0.438092,4.660495
1004,ACH-002926,0.02201,3.189034,0.023496,0.0,0.012432,9.33539,0.00742,0.014355,0.018041,...,0.028312,0.014355,0.104833,2.776104,0.008261,5.182295,0.035919,2.956057,0.404214,3.785551

In [14]:
import pandas as pd

# Read the CSV file
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table_transposed.csv")

# Separate the column names with "Exp" and "Dep"
exp_columns = [col for col in arranged_table.columns if col.endswith(" Exp")]
dep_columns = [col for col in arranged_table.columns if col.endswith(" Dep")]

# Reorder the columns with "Exp" on the left and "Dep" on the right
new_columns = ["DepMap_ID"] + exp_columns + dep_columns

# Create a new DataFrame with the reordered columns
arranged_table_reordered = arranged_table[new_columns]

# Adjust the leftmost column to count from 0
arranged_table_reordered.reset_index(drop=True, inplace=True)

arranged_table_reordered

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,...,0.037449,0.080585,0.034309,0.007142,0.004241,0.082956,0.012000,0.003592,0.012679,0.324623
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,...,0.038768,0.230569,0.007125,0.021209,0.011203,0.060266,0.128375,0.005911,0.004645,0.042530
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,...,0.017479,0.274568,0.054525,0.033396,0.033416,0.034712,0.092832,0.012482,0.020843,0.050412
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,...,0.196233,0.615338,0.011212,0.002200,0.005432,0.035241,0.138445,0.103161,0.146222,0.274833
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,...,0.152385,0.405712,0.029011,0.002816,0.056461,0.189550,0.328064,0.035161,0.058402,0.269194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,1.967169,0.000000,2.198494,0.000000,0.000000,1.490570,0.000000,5.300490,4.314697,...,0.097896,0.126051,0.014528,0.009290,0.045986,0.068998,0.144264,0.067693,0.081846,0.131433
1001,ACH-002800,3.847997,0.000000,5.899901,0.321928,0.000000,3.206331,0.000000,5.831877,3.822730,...,0.004340,0.195897,0.029177,0.002176,0.014489,0.040005,0.077345,0.038227,0.048967,0.033994
1002,ACH-002834,1.819668,0.014355,0.014355,0.201634,0.000000,2.912650,0.028569,5.646451,4.547820,...,0.027170,0.636352,0.022403,0.052849,0.029567,0.029711,0.024132,0.174946,0.091510,0.421153
1003,ACH-002847,2.990955,0.000000,7.608440,0.014355,0.000000,0.584963,0.000000,5.104337,4.228819,...,0.476423,0.967625,0.014249,0.018715,0.010776,0.072452,0.131375,0.115486,0.094022,0.438092
1004,ACH-002926,3.189034,0.000000,9.335390,0.014355,0.000000,0.000000,0.014355,5.204376,4.405992,...,0.669718,0.939699,0.013556,0.001120,0.057491,0.028312,0.104833,0.008261,0.035919,0.404214

In [15]:
# Find the column names containing the specified strings
target_columns = arranged_table_reordered.columns[arranged_table_reordered.columns.str.contains('EIF2AK3|SF3B1|NQO1|SQSTM1|MYC|HSP70')]

target_columns

Index(['EIF2AK3 (9451) Exp', 'MYC (4609) Exp', 'MYCBP (26292) Exp',
       'MYCBPAP (84073) Exp', 'MYCL (4610) Exp', 'MYCN (4613) Exp',
       'MYCT1 (80177) Exp', 'NQO1 (1728) Exp', 'SF3B1 (23451) Exp',
       'SQSTM1 (8878) Exp', 'EIF2AK3 (9451) Dep', 'MYC (4609) Dep',
       'MYCBP (26292) Dep', 'MYCBPAP (84073) Dep', 'MYCL (4610) Dep',
       'MYCN (4613) Dep', 'MYCT1 (80177) Dep', 'NQO1 (1728) Dep',
       'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep'],
      dtype='object')

In [16]:
# Find the column names exactly matching the specified strings
target_columns = arranged_table_reordered.columns[arranged_table_reordered.columns.str.match('EIF2AK3 |SF3B1 |NQO1 |SQSTM1 |MYC |HSP70 ')]

target_columns

Index(['EIF2AK3 (9451) Exp', 'MYC (4609) Exp', 'NQO1 (1728) Exp',
       'SF3B1 (23451) Exp', 'SQSTM1 (8878) Exp', 'EIF2AK3 (9451) Dep',
       'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep',
       'SQSTM1 (8878) Dep'],
      dtype='object')

In [17]:
# Create a list of column names to preserve
preserved_columns = ["EIF2AK3", "SF3B1", "NQO1", "SQSTM1", "MYC", "HSP70"]

# Filter the columns based on the preserved column names
filtered_columns = [col for col in arranged_table_reordered.columns if (col.endswith(" Dep") and col.split(" ")[0] in preserved_columns) or not col.endswith(" Dep")]

# Create a new DataFrame with the filtered columns
filtered_arranged_table = arranged_table_reordered[filtered_columns]

filtered_arranged_table

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,...,ZYG11A (440590) Exp,ZYG11B (79699) Exp,ZYX (7791) Exp,ZZEF1 (23140) Exp,ZZZ3 (26009) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep,NQO1 (1728) Dep,SF3B1 (23451) Dep,SQSTM1 (8878) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,...,3.282440,2.797013,6.821455,3.010780,4.381975,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,...,0.014355,2.032101,7.002252,3.444932,4.910733,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,...,0.014355,2.761285,6.826421,3.524816,5.592457,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,...,0.014355,1.989139,6.332708,3.673556,3.469886,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,...,1.356144,2.956057,7.853185,3.442280,3.351911,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,1.967169,0.000000,2.198494,0.000000,0.000000,1.490570,0.000000,5.300490,4.314697,...,0.014355,4.173127,6.560256,2.969012,5.276869,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,3.847997,0.000000,5.899901,0.321928,0.000000,3.206331,0.000000,5.831877,3.822730,...,0.622930,3.084064,6.596935,3.177918,4.847997,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,1.819668,0.014355,0.014355,0.201634,0.000000,2.912650,0.028569,5.646451,4.547820,...,1.400538,2.568032,6.953498,3.087463,4.226509,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,2.990955,0.000000,7.608440,0.014355,0.000000,0.584963,0.000000,5.104337,4.228819,...,1.480265,2.748461,7.432041,2.903038,4.660495,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,3.189034,0.000000,9.335390,0.014355,0.000000,0.000000,0.014355,5.204376,4.405992,...,0.014355,2.776104,5.182295,2.956057,3.785551,0.017135,0.963046,0.022057,0.998453,0.055990