<a href="https://colab.research.google.com/github/chingyaousf/Intern-project/blob/main/DeepDEP_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing Libraries
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
# Loading the Dataset
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv")
data

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,...,ZYG11A (440590) Exp,ZYG11B (79699) Exp,ZYX (7791) Exp,ZZEF1 (23140) Exp,ZZZ3 (26009) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep,NQO1 (1728) Dep,SF3B1 (23451) Dep,SQSTM1 (8878) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,...,3.282440,2.797013,6.821455,3.010780,4.381975,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,...,0.014355,2.032101,7.002252,3.444932,4.910733,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,...,0.014355,2.761285,6.826421,3.524816,5.592457,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,...,0.014355,1.989139,6.332708,3.673556,3.469886,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,...,1.356144,2.956057,7.853185,3.442280,3.351911,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,1.967169,0.000000,2.198494,0.000000,0.000000,1.490570,0.000000,5.300490,4.314697,...,0.014355,4.173127,6.560256,2.969012,5.276869,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,3.847997,0.000000,5.899901,0.321928,0.000000,3.206331,0.000000,5.831877,3.822730,...,0.622930,3.084064,6.596935,3.177918,4.847997,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,1.819668,0.014355,0.014355,0.201634,0.000000,2.912650,0.028569,5.646451,4.547820,...,1.400538,2.568032,6.953498,3.087463,4.226509,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,2.990955,0.000000,7.608440,0.014355,0.000000,0.584963,0.000000,5.104337,4.228819,...,1.480265,2.748461,7.432041,2.903038,4.660495,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,3.189034,0.000000,9.335390,0.014355,0.000000,0.000000,0.014355,5.204376,4.405992,...,0.014355,2.776104,5.182295,2.956057,3.785551,0.017135,0.963046,0.022057,0.998453,0.055990

In [5]:
from numpy import true_divide
# Cleaning Column Names
clean_column_names = {}
for column in data.columns:
    clean_column_names[column] = column.strip().replace(' ', '_').replace('(', '').replace(')', '')

data.rename(columns=clean_column_names, inplace=True)

data

,DepMap_ID,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,...,ZYG11A_440590_Exp,ZYG11B_79699_Exp,ZYX_7791_Exp,ZZEF1_23140_Exp,ZZZ3_26009_Exp,EIF2AK3_9451_Dep,MYC_4609_Dep,NQO1_1728_Dep,SF3B1_23451_Dep,SQSTM1_8878_Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,...,3.282440,2.797013,6.821455,3.010780,4.381975,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,...,0.014355,2.032101,7.002252,3.444932,4.910733,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,...,0.014355,2.761285,6.826421,3.524816,5.592457,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,...,0.014355,1.989139,6.332708,3.673556,3.469886,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,...,1.356144,2.956057,7.853185,3.442280,3.351911,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,1.967169,0.000000,2.198494,0.000000,0.000000,1.490570,0.000000,5.300490,4.314697,...,0.014355,4.173127,6.560256,2.969012,5.276869,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,3.847997,0.000000,5.899901,0.321928,0.000000,3.206331,0.000000,5.831877,3.822730,...,0.622930,3.084064,6.596935,3.177918,4.847997,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,1.819668,0.014355,0.014355,0.201634,0.000000,2.912650,0.028569,5.646451,4.547820,...,1.400538,2.568032,6.953498,3.087463,4.226509,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,2.990955,0.000000,7.608440,0.014355,0.000000,0.584963,0.000000,5.104337,4.228819,...,1.480265,2.748461,7.432041,2.903038,4.660495,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,3.189034,0.000000,9.335390,0.014355,0.000000,0.000000,0.014355,5.204376,4.405992,...,0.014355,2.776104,5.182295,2.956057,3.785551,0.017135,0.963046,0.022057,0.998453,0.055990

In [ ]:
# Splitting the Dataset
# features = data[['A1BG_1_Exp', 'A1CF_29974_Exp', 'A2M_2_Exp', 'A2ML1_144568_Exp', 'A3GALT2_127550_Exp', 'A4GALT_53947_Exp', 'A4GNT_51146_Exp', 'AAAS_8086_Exp', 'AACS_65985_Exp', 'AADAC_13_Exp']]
# targets = data[['EIF2AK3_9451_Dep', 'MYC_4609_Dep']]

In [6]:
# Exclude 'DepMap_ID' column
data_without_id = data.drop(columns=['DepMap_ID'])

# Extracting Features and Targets
features = data_without_id.drop(columns=[col for col in data_without_id.columns if 'Dep' in col])
targets = data_without_id[[col for col in data_without_id.columns if 'Dep' in col]]

In [ ]:
# Extracting Features and Targets
# features = data.drop(columns=['DepMap_ID', 'EIF2AK3_9451_Dep', 'MYC_4609_Dep'])
# targets = data[['EIF2AK3_9451_Dep', 'MYC_4609_Dep']]

In [7]:
# Splitting the Data into Train and Test Sets
X_train, X_test, y_train, y_test = train_test_split(features, targets, test_size=0.2, random_state=42)

In [8]:
# Creating and Training the Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [24]:
# Making Predictions
y_pred = rf.predict(X_test)

In [25]:
# Printing Predicted Values
print('Predicted Values:', y_pred)

Predicted Values: [[0.05430514 0.97239048 0.08651821 0.98972256 0.07920401]
 [0.05549737 0.97758621 0.08647    0.99118758 0.06456895]
 [0.05024736 0.93317321 0.06734028 0.98988119 0.10741608]
 ...
 [0.05675749 0.96019317 0.09880215 0.986828   0.05446221]
 [0.08524506 0.9028055  0.11369889 0.98897242 0.06942026]
 [0.07030817 0.95541812 0.09502101 0.9891513  0.05897065]]

In [26]:
# Evaluating the Model
# Mean Squared Error. It is a common metric used to measure the average squared difference between the predicted and actual values in regression tasks.
# Lower values of MSE indicate better model performance, as it means the predicted values are closer to the actual values. However, MSE is sensitive to outliers since the squared differences magnify their impact on the overall error.

mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.007742492746486128

In [27]:
# Mean Absolute Error (MAE) measures the average absolute difference between the predicted and actual values. It gives a straightforward measure of the average prediction error. Lower MAE values indicate better accuracy.

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 0.0474472916903526

In [30]:
# R-squared (coefficient of determination) measures the proportion of the variance in the target variable that is explained by the model. It ranges from 0 to 1

r_squared = rf.score(X_test, y_test)
print('R-squared:', r_squared)

R-squared: 0.08684119167732784

In [31]:
# Evaluating the Model

from sklearn.metrics import mean_absolute_error

mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

r_squared = rf.score(X_test, y_test)
print('R-squared:', r_squared)

Mean Squared Error: 0.007742492746486128
Mean Absolute Error: 0.0474472916903526
R-squared: 0.08684119167732784

In [ ]:
# Create a new DataFrame for the test set with the predicted values
test_data = X_test.copy()
test_data['Predicted_Dep_1'] = y_pred[:, 0]
test_data['Predicted_Dep_2'] = y_pred[:, 1]

# Display
test_data

,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,Predicted_Dep_1,Predicted_Dep_2
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.969282
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.968992
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.970549

In [ ]:
# Create a new DataFrame for the test set with the predicted values
test_data = X_test.copy()

# Get the original target column names
target_columns = targets.columns

# Rename the columns in the DataFrame with the prefix 'Pred_' + original target names
for i, col in enumerate(target_columns):
    new_col_name = 'Pred_' + col
    test_data[new_col_name] = y_pred[:, i]

# Display
test_data

,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,Pred_EIF2AK3 (9451) Dep,Pred_MYC (4609) Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.969282
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.968992
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.970549

In [ ]:
# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Get the original target column names
target_columns = targets.columns

# Rename the columns in the DataFrame with the prefix 'Pred_' + original target names for predicted values
for i, col in enumerate(target_columns):
    new_col_name = 'Pred_' + col
    test_data[new_col_name] = y_pred[:, i]

# Add the actual values from y_test to the DataFrame
for i, col in enumerate(target_columns):
    test_data[col] = y_test.iloc[:, i].values

# Display
test_data

,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,Pred_EIF2AK3 (9451) Dep,Pred_MYC (4609) Dep,EIF2AK3 (9451) Dep,MYC (4609) Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.969282,0.037510,0.995092
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.968992,0.018546,0.807414
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.970549,0.012443,1.000000

In [ ]:
# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Iterate over the target columns
for i, col in enumerate(y_test.columns):
    # Create new columns for the predicted and actual values
    pred_col = f'Pred_{col}'  # Predicted values column name
    test_col = f'Test_{col}'  # Actual values column name

    # Assign the predicted values to the new column
    test_data[pred_col] = y_pred[:, i]

    # Assign the actual values to the new column
    test_data[test_col] = y_test.iloc[:, i].values

# Display
test_data

,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,Pred_EIF2AK3 (9451) Dep,Test_EIF2AK3 (9451) Dep,Pred_MYC (4609) Dep,Test_MYC (4609) Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.037510,0.969282,0.995092
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.018546,0.968992,0.807414
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.012443,0.970549,1.000000

In [ ]:
# Retrieve the 'DepMap_ID' column before splitting
depmap_id_column = data['DepMap_ID']

# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Add 'DepMap_ID' column to test_data
test_data['DepMap_ID'] = depmap_id_column.iloc[X_test.index]

for i, col in enumerate(targets.columns):
    pred_col = f'Pred_{col}'
    test_data[pred_col] = y_pred[:, i]
    test_data[col] = y_test.iloc[:, i].values

# Display the updated DataFrame
test_data

,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,DepMap_ID,Pred_EIF2AK3_9451_Dep,EIF2AK3_9451_Dep,Pred_MYC_4609_Dep,MYC_4609_Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,ACH-000011,0.041759,0.037510,0.969282,0.995092
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,ACH-000001,0.044549,0.018546,0.968992,0.807414
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,ACH-000015,0.039265,0.012443,0.970549,1.000000

In [ ]:
# Retrieve the 'DepMap_ID' column before splitting
depmap_id_column = data['DepMap_ID']

# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Add 'DepMap_ID' column to test_data
test_data['DepMap_ID'] = depmap_id_column.iloc[X_test.index]

for i, col in enumerate(targets.columns):
    pred_col = f'Pred_{col}'
    test_data[pred_col] = y_pred[:, i]
    test_data[col] = y_test.iloc[:, i].values

# Set 'DepMap_ID' as the index of the DataFrame
test_data.set_index('DepMap_ID', inplace=True)

# Display the updated DataFrame
test_data

,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,Pred_EIF2AK3_9451_Dep,EIF2AK3_9451_Dep,Pred_MYC_4609_Dep,MYC_4609_Dep
DepMap_ID,,,,,,,,,,,,,,
ACH-000011,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.037510,0.969282,0.995092
ACH-000001,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.018546,0.968992,0.807414
ACH-000015,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.012443,0.970549,1.000000

In [15]:
# Retrieve the 'DepMap_ID' column before splitting
depmap_id_column = data['DepMap_ID']

# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Add 'DepMap_ID' column to test_data
test_data.insert(0, 'DepMap_ID', depmap_id_column.iloc[X_test.index].values)

for i, col in enumerate(targets.columns):
    pred_col = f'Pred_{col}'
    test_data[pred_col] = y_pred[:, i]
    test_data[col] = y_test.iloc[:, i].values

# Display the updated DataFrame
test_data

,DepMap_ID,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,...,Pred_EIF2AK3_9451_Dep,EIF2AK3_9451_Dep,Pred_MYC_4609_Dep,MYC_4609_Dep,Pred_NQO1_1728_Dep,NQO1_1728_Dep,Pred_SF3B1_23451_Dep,SF3B1_23451_Dep,Pred_SQSTM1_8878_Dep,SQSTM1_8878_Dep
926,ACH-001858,0.176323,0.056584,0.097611,0.014355,0.000000,3.035624,0.056584,5.299758,4.263034,...,0.054305,0.089924,0.972390,0.986031,0.086518,0.061362,0.989723,0.965198,0.079204,0.100194
630,ACH-000962,4.410748,0.028569,0.056584,0.000000,0.028569,1.189034,0.014355,5.620000,4.238023,...,0.055497,0.013249,0.977586,0.808635,0.086470,0.424683,0.991188,0.999715,0.064569,0.077090
682,ACH-001164,4.262283,0.000000,5.371210,0.000000,0.000000,1.765535,0.000000,5.003152,3.489286,...,0.050247,0.128009,0.933173,0.999965,0.067340,0.006208,0.989881,0.989402,0.107416,0.173517
514,ACH-000799,4.440288,0.014355,6.867773,0.014355,0.163499,0.641546,0.124328,5.484460,4.268285,...,0.088453,0.119600,0.907921,0.973706,0.101490,0.046536,0.987842,1.000000,0.078118,0.082562
365,ACH-000571,5.489928,0.000000,0.678072,0.000000,0.042644,3.016140,0.214125,5.319040,4.609400,...,0.060655,0.055957,0.953303,0.947456,0.106391,0.135590,0.990134,0.999373,0.160413,0.268415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,ACH-000339,0.111031,0.014355,0.028569,0.000000,0.000000,1.378512,0.028569,5.497612,3.605257,...,0.054261,0.019725,0.937135,0.981174,0.106910,0.196715,0.991256,0.977665,0.056495,0.035018
778,ACH-001454,0.400538,0.000000,0.189034,0.163499,0.000000,4.678072,0.000000,4.751678,4.521051,...,0.074218,0.007032,0.932740,0.851388,0.092658,0.046067,0.989863,1.000000,0.081660,0.074650
334,ACH-000522,4.157044,0.000000,0.214125,0.000000,0.000000,2.893362,0.014355,6.321026,3.298658,...,0.056757,0.031388,0.960193,0.999722,0.098802,0.300746,0.986828,0.994450,0.054462,0.106541
210,ACH-000343,4.189034,0.042644,0.014355,0.367371,0.000000,2.304511,0.097611,5.744699,4.082362,...,0.085245,0.063896,0.902806,0.971561,0.113699,0.086851,0.988972,0.999641,0.069420,0.011019
350,ACH-000549,0.056584,0.000000,0.400538,0.111031,0.028569,5.224581,0.000000,5.139142,3.994580,...,0.070308,0.064660,0.955418,0.999956,0.095021,0.055492,0.989151,1.000000,0.058971,0.038641