<a href="https://colab.research.google.com/github/chingyaousf/Intern-project/blob/main/intern_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dependency_transposed = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dependency_transposed.csv")
gene_expression_transposed = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/gene_expression_transposed.csv")

# Find the common column names
common_columns = dependency_transposed.columns.intersection(gene_expression_transposed.columns)

# Filter the dataframes based on the common column names
dependency_filtered = dependency_transposed[common_columns]
gene_expression_filtered = gene_expression_transposed[common_columns]

# Concatenate the filtered dataframes
merged_columns = pd.concat([dependency_filtered, gene_expression_filtered], axis=0)

# Reset the index
merged_columns.reset_index(drop=True, inplace=True)

merged_columns.to_csv("/content/drive/MyDrive/Colab Notebooks/merged_columns.csv", index=False)

merged_columns

In [ ]:
merged_columns = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/merged_columns.csv")
merged_columns

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002672,ACH-002680,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002926
0,A1BG (1),0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.042417,0.013831,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.022010
1,A1CF (29974),0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.052754,0.035392,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.023496
2,A2M (2),0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.017226,0.018151,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.012432
3,A2ML1 (144568),0.025962,0.033215,0.005448,0.011299,0.011721,0.003488,0.002901,0.009602,0.015126,...,0.029292,0.076277,0.003171,0.130600,0.030460,0.034174,0.005053,0.013315,0.030234,0.007420
4,A3GALT2 (127550),0.073412,0.013176,0.018599,0.027288,0.030062,0.047524,0.011829,0.091157,0.037230,...,0.132399,0.083078,0.016659,0.019573,0.081002,0.139199,0.154874,0.107286,0.069976,0.018041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36602,ELOA3B (728929),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.028569,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36603,NPBWR1 (2831),0.028569,0.000000,0.000000,0.000000,0.000000,0.000000,0.163499,0.028569,1.448901,...,1.405992,0.000000,0.000000,0.056584,0.111031,0.000000,1.117695,1.263034,1.333424,0.000000
36604,ELOA3D (100506888),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.000000,0.097611,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36605,ELOA3 (162699),0.214125,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.028569,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36606,CDR1 (1038),0.014355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097611,...,0.000000,0.495695,0.000000,0.400538,0.097611,0.000000,0.000000,1.124328,0.000000,0.000000

In [ ]:
# Find the common row names
common_rows = merged_columns.iloc[:, 0].unique()

# Create a list to store the arranged data
arranged_data = []

# Iterate over the common row names and arrange the data
for row_name in common_rows:
    # Select the rows with the common row name from merged_columns
    common_row = merged_columns[merged_columns.iloc[:, 0] == row_name]
    
    # Append the row to the arranged data list
    arranged_data.append(common_row)
    
# Concatenate the arranged data into a single DataFrame
arranged_columns = pd.concat(arranged_data, ignore_index=True)

# Reset the index
arranged_columns.reset_index(drop=True, inplace=True)

# Save the arranged DataFrame to a CSV file
arranged_columns.to_csv("/content/drive/MyDrive/Colab Notebooks/arranged_columns.csv", index=False)

# Print the arranged DataFrame
arranged_columns

In [ ]:
# remove the row names are not duplicated

# Find the common row names
common_rows = merged_columns.iloc[:, 0].unique()

# Create a list to store the arranged data
arranged_data = []

# Iterate over the common row names and arrange the data
for row_name in common_rows:
    # Select the rows with the common row name from merged_columns
    common_row = merged_columns[merged_columns.iloc[:, 0] == row_name]

    # Check if the row name is duplicated
    if len(common_row) > 1:
        # Append the row to the arranged data list
        arranged_data.append(common_row)

# Concatenate the arranged data into a single DataFrame
arranged_columns = pd.concat(arranged_data, ignore_index=True)

# Reset the index
arranged_columns.reset_index(drop=True, inplace=True)

# Save the arranged DataFrame to a CSV file
arranged_columns.to_csv("/content/drive/MyDrive/Colab Notebooks/arranged_columns.csv", index=False)

# Print the arranged DataFrame
arranged_columns

In [ ]:
arranged_columns = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_columns.csv")
arranged_columns

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002672,ACH-002680,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002926
0,A1BG (1),0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.042417,0.013831,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.022010
1,A1BG (1),3.116032,4.178715,4.003602,0.137504,1.464668,1.035624,2.341986,2.662205,6.058749,...,0.000000,0.000000,3.080658,1.879706,4.274262,1.967169,3.847997,1.819668,2.990955,3.189034
2,A1CF (29974),0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.052754,0.035392,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.023496
3,A1CF (29974),0.056584,0.000000,0.014355,1.405992,3.586164,0.084064,0.028569,0.028569,0.042644,...,0.400538,0.014355,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.000000,0.000000
4,A2M (2),0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.017226,0.018151,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.012432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34561,ZYX (7791),6.821455,7.002252,6.826421,6.332708,7.853185,6.139347,6.923743,6.470862,6.826167,...,5.707359,7.018701,4.192194,5.830610,6.834281,6.560256,6.596935,6.953498,7.432041,5.182295
34562,ZZEF1 (23140),0.012679,0.004645,0.020843,0.146222,0.058402,0.058550,0.048095,0.128022,0.003396,...,0.102706,0.034621,0.051484,0.059101,0.057218,0.081846,0.048967,0.091510,0.094022,0.035919
34563,ZZEF1 (23140),3.010780,3.444932,3.524816,3.673556,3.442280,3.452859,4.137504,2.957915,4.110196,...,2.350497,3.854993,2.424922,2.508429,3.075533,2.969012,3.177918,3.087463,2.903038,2.956057
34564,ZZZ3 (26009),0.324623,0.042530,0.050412,0.274833,0.269194,0.125139,0.306162,0.580409,0.077300,...,0.494391,0.390560,0.822521,0.023483,0.300241,0.131433,0.033994,0.421153,0.438092,0.404214
34565,ZZZ3 (26009),4.381975,4.910733,5.592457,3.469886,3.351911,3.435629,4.723559,3.925050,4.129283,...,4.781360,5.486714,5.242221,3.836934,4.749534,5.276869,4.847997,4.226509,4.660495,3.785551

In [ ]:
duplicated_rows = arranged_columns[arranged_columns.iloc[:, 0].duplicated()]
duplicated_row_names = duplicated_rows.iloc[:, 0].unique()
print(duplicated_row_names)

num_duplicates = len(duplicated_row_names)
print("Number of duplicated row names:", num_duplicates)

['A1BG (1)' 'A1CF (29974)' 'A2M (2)' ... 'ZYX (7791)' 'ZZEF1 (23140)'
 'ZZZ3 (26009)']
Number of duplicated row names: 17283

In [ ]:
# Select the row names column
row_names_column = arranged_columns.iloc[:, 0]

# Add "dependency" or "expression" label after each row name
row_names_column = [f"{name} {'Dep' if i % 2 == 0 else 'Exp'}" for i, name in enumerate(row_names_column)]

# Assign the updated row names back to the DataFrame
arranged_columns.iloc[:, 0] = row_names_column

# Save the DataFrame to a CSV file
arranged_columns.to_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table.csv", index=False)

In [ ]:
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table.csv")
arranged_table

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002672,ACH-002680,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002926
0,A1BG (1) Dep,0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.042417,0.013831,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.022010
1,A1BG (1) Exp,3.116032,4.178715,4.003602,0.137504,1.464668,1.035624,2.341986,2.662205,6.058749,...,0.000000,0.000000,3.080658,1.879706,4.274262,1.967169,3.847997,1.819668,2.990955,3.189034
2,A1CF (29974) Dep,0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.052754,0.035392,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.023496
3,A1CF (29974) Exp,0.056584,0.000000,0.014355,1.405992,3.586164,0.084064,0.028569,0.028569,0.042644,...,0.400538,0.014355,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.000000,0.000000
4,A2M (2) Dep,0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.017226,0.018151,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.012432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34561,ZYX (7791) Exp,6.821455,7.002252,6.826421,6.332708,7.853185,6.139347,6.923743,6.470862,6.826167,...,5.707359,7.018701,4.192194,5.830610,6.834281,6.560256,6.596935,6.953498,7.432041,5.182295
34562,ZZEF1 (23140) Dep,0.012679,0.004645,0.020843,0.146222,0.058402,0.058550,0.048095,0.128022,0.003396,...,0.102706,0.034621,0.051484,0.059101,0.057218,0.081846,0.048967,0.091510,0.094022,0.035919
34563,ZZEF1 (23140) Exp,3.010780,3.444932,3.524816,3.673556,3.442280,3.452859,4.137504,2.957915,4.110196,...,2.350497,3.854993,2.424922,2.508429,3.075533,2.969012,3.177918,3.087463,2.903038,2.956057
34564,ZZZ3 (26009) Dep,0.324623,0.042530,0.050412,0.274833,0.269194,0.125139,0.306162,0.580409,0.077300,...,0.494391,0.390560,0.822521,0.023483,0.300241,0.131433,0.033994,0.421153,0.438092,0.404214
34565,ZZZ3 (26009) Exp,4.381975,4.910733,5.592457,3.469886,3.351911,3.435629,4.723559,3.925050,4.129283,...,4.781360,5.486714,5.242221,3.836934,4.749534,5.276869,4.847997,4.226509,4.660495,3.785551

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/arranged_table_test.csv'
arranged_table = pd.read_csv(file_path, index_col=0)

# Select the rows of interest
row1 = 'A1BG (1) Dep'
row2 = 'A1BG (1) Exp'
row3 = 'A1CF (29974) Dep'
row4 = 'A1CF (29974) Exp'

# Calculate the correlations
correlations = arranged_table.loc[[row1, row2, row3, row4]].T.corr(method='spearman')

# Extract the correlations for the specified rows
correlation_table = correlations[row1].drop(row1)

# Create a DataFrame to display the correlations
correlation_table = pd.DataFrame(correlation_table, columns=[row1])
correlation_table.columns.name = 'Rows'

# Print the correlation table
correlation_table

Rows              A1BG (1) Dep
DepMap_ID
A1BG (1) Exp              -1.0
A1CF (29974) Dep          -1.0
A1CF (29974) Exp           1.0

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/arranged_table_test.csv'
arranged_table = pd.read_csv(file_path, index_col=0)

# Select the rows of interest
row_names = ['A1BG (1) Dep', 'A1BG (1) Exp', 'A1CF (29974) Dep', 'A1CF (29974) Exp']

# Calculate the correlations
correlations = arranged_table.loc[row_names].T.corr(method='spearman')

# Create a DataFrame to store the correlation table
correlation_table = pd.DataFrame(index=row_names, columns=row_names)

# Iterate over the rows and columns to calculate correlations
for i, row in enumerate(row_names):
    for j, col in enumerate(row_names):
        correlation_table.loc[row, col] = correlations.iloc[i, j]

# Print the correlation table
correlation_table

                 A1BG (1) Dep A1BG (1) Exp A1CF (29974) Dep A1CF (29974) Exp
A1BG (1) Dep              1.0         -1.0             -1.0              1.0
A1BG (1) Exp             -1.0          1.0              1.0             -1.0
A1CF (29974) Dep         -1.0          1.0              1.0             -1.0
A1CF (29974) Exp          1.0         -1.0             -1.0              1.0

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table_03.csv")

# Get the row names
row_names = arranged_table[arranged_table.columns[0]]

# Select the data without the first column
selected_data = arranged_table.iloc[:, 1:]

# Calculate the correlations
correlations = selected_data.T.corr(method='spearman')

# Create a DataFrame to store the correlation table
correlation_table = pd.DataFrame(index=row_names, columns=row_names)

# Iterate over the rows and columns to calculate correlations
for i, row in enumerate(row_names):
    for j, col in enumerate(row_names):
        correlation_table.loc[row, col] = correlations.iloc[i, j]

# Print the correlation table
correlation_table

DepMap_ID,A1BG (1) Dep,A1BG (1) Exp,A1CF (29974) Dep,A1CF (29974) Exp,A2M (2) Dep,A2M (2) Exp,A2ML1 (144568) Dep,A2ML1 (144568) Exp,A3GALT2 (127550) Dep,A3GALT2 (127550) Exp,...,ABCB11 (8647) Exp,ABCB4 (5244) Dep,ABCB4 (5244) Exp,ABCB5 (340273) Dep,ABCB5 (340273) Exp,ABCB6 (10058) Dep,ABCB6 (10058) Exp,ABCB7 (22) Dep,ABCB7 (22) Exp,ABCB8 (11194) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Dep,1.0,-0.029538,-0.05696,-0.052339,0.112503,0.006454,0.160891,-0.092395,0.048559,-0.038054,...,-0.082429,0.082395,-0.085306,0.117047,-0.017322,0.169453,-0.059757,-0.00805,0.021513,0.21561
A1BG (1) Exp,-0.029538,1.0,0.006017,-0.251402,0.077334,0.117301,0.051681,-0.102592,-0.008813,0.076598,...,-0.354371,0.035239,0.204638,-0.037143,0.058332,0.007223,0.054468,0.114692,0.112905,0.001024
A1CF (29974) Dep,-0.05696,0.006017,1.0,-0.04232,0.019636,-0.100585,0.058298,0.074276,-0.025643,0.002516,...,0.049102,0.000733,-0.165249,0.071913,0.039596,0.026148,-0.033246,0.031556,0.052,0.022962
A1CF (29974) Exp,-0.052339,-0.251402,-0.04232,1.0,-0.115178,0.042653,-0.112634,-0.022432,0.04607,0.04999,...,0.164986,-0.019387,0.045761,0.008091,0.084858,0.096018,0.140859,-0.170295,-0.015661,0.013825
A2M (2) Dep,0.112503,0.077334,0.019636,-0.115178,1.0,0.013361,0.169064,0.016311,0.042255,-0.004386,...,0.076383,0.049425,-0.033072,0.055836,-0.001728,-0.027784,0.081317,0.048821,-0.06649,0.193568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ABCB6 (10058) Dep,0.169453,0.007223,0.026148,0.096018,-0.027784,-0.038584,0.003292,-0.16841,0.113463,0.057457,...,0.001136,0.120311,0.087438,0.122831,-0.065407,1.0,0.126281,-0.000071,0.010219,0.146711
ABCB6 (10058) Exp,-0.059757,0.054468,-0.033246,0.140859,0.081317,0.287453,-0.152042,-0.047097,0.053545,0.251902,...,-0.014799,0.005614,0.149318,0.045511,0.148074,0.126281,1.0,0.029601,-0.136974,0.059036
ABCB7 (22) Dep,-0.00805,0.114692,0.031556,-0.170295,0.048821,0.120148,0.102626,0.044128,-0.003094,-0.039793,...,-0.04069,-0.037082,-0.019595,-0.198932,-0.026272,-0.000071,0.029601,1.0,-0.080489,-0.13159
ABCB7 (22) Exp,0.021513,0.112905,0.052,-0.015661,-0.06649,0.04231,0.089566,-0.025878,-0.140524,-0.09883,...,-0.070307,0.02249,0.059142,0.048258,-0.068126,0.010219,-0.136974,-0.080489,1.0,-0.022766
ABCB8 (11194) Dep,0.21561,0.001024,0.022962,0.013825,0.193568,-0.061794,0.192842,-0.016797,0.038303,0.051155,...,-0.007096,0.13067,-0.003258,0.189326,-0.035765,0.146711,0.059036,-0.13159,-0.022766,1.0

In [ ]:
import pandas as pd
from scipy.stats import spearmanr

# Read the CSV file into a DataFrame
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table_03.csv")

# Get the row names
row_names = arranged_table.iloc[:, 0]

# Select the data without the first column
selected_data = arranged_table.iloc[:, 1:]

# Create an empty DataFrame to store the correlation table
correlation_table = pd.DataFrame(index=row_names, columns=row_names)

# Iterate over the rows to calculate correlations
for i, row1 in enumerate(row_names):
    for j, row2 in enumerate(row_names):
        if i <= j:
            correlation, _ = spearmanr(selected_data.loc[i], selected_data.loc[j])
            correlation_table.loc[row1, row2] = correlation
            correlation_table.loc[row2, row1] = correlation

# Print the correlation table
correlation_table

DepMap_ID,A1BG (1) Dep,A1BG (1) Exp,A1CF (29974) Dep,A1CF (29974) Exp,A2M (2) Dep,A2M (2) Exp,A2ML1 (144568) Dep,A2ML1 (144568) Exp,A3GALT2 (127550) Dep,A3GALT2 (127550) Exp,...,ABCB11 (8647) Exp,ABCB4 (5244) Dep,ABCB4 (5244) Exp,ABCB5 (340273) Dep,ABCB5 (340273) Exp,ABCB6 (10058) Dep,ABCB6 (10058) Exp,ABCB7 (22) Dep,ABCB7 (22) Exp,ABCB8 (11194) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Dep,1.0,-0.029538,-0.05696,-0.052339,0.112503,0.006454,0.160891,-0.092395,0.048559,-0.038054,...,-0.082429,0.082395,-0.085306,0.117047,-0.017322,0.169453,-0.059757,NaN,0.021513,0.21561
A1BG (1) Exp,-0.029538,1.0,0.006017,-0.251402,0.077334,0.117301,0.051681,-0.102592,-0.008813,0.076598,...,-0.354371,0.035239,0.204638,-0.037143,0.058332,0.007223,0.054468,NaN,0.112905,0.001024
A1CF (29974) Dep,-0.05696,0.006017,1.0,-0.04232,0.019636,-0.100585,0.058298,0.074276,-0.025643,0.002516,...,0.049102,0.000733,-0.165249,0.071913,0.039596,0.026148,-0.033246,NaN,0.052,0.022962
A1CF (29974) Exp,-0.052339,-0.251402,-0.04232,1.0,-0.115178,0.042653,-0.112634,-0.022432,0.04607,0.04999,...,0.164986,-0.019387,0.045761,0.008091,0.084858,0.096018,0.140859,NaN,-0.015661,0.013825
A2M (2) Dep,0.112503,0.077334,0.019636,-0.115178,1.0,0.013361,0.169064,0.016311,0.042255,-0.004386,...,0.076383,0.049425,-0.033072,0.055836,-0.001728,-0.027784,0.081317,NaN,-0.06649,0.193568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ABCB6 (10058) Dep,0.169453,0.007223,0.026148,0.096018,-0.027784,-0.038584,0.003292,-0.16841,0.113463,0.057457,...,0.001136,0.120311,0.087438,0.122831,-0.065407,1.0,0.126281,NaN,0.010219,0.146711
ABCB6 (10058) Exp,-0.059757,0.054468,-0.033246,0.140859,0.081317,0.287453,-0.152042,-0.047097,0.053545,0.251902,...,-0.014799,0.005614,0.149318,0.045511,0.148074,0.126281,1.0,NaN,-0.136974,0.059036
ABCB7 (22) Dep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABCB7 (22) Exp,0.021513,0.112905,0.052,-0.015661,-0.06649,0.04231,0.089566,-0.025878,-0.140524,-0.09883,...,-0.070307,0.02249,0.059142,0.048258,-0.068126,0.010219,-0.136974,NaN,1.0,-0.022766
ABCB8 (11194) Dep,0.21561,0.001024,0.022962,0.013825,0.193568,-0.061794,0.192842,-0.016797,0.038303,0.051155,...,-0.007096,0.13067,-0.003258,0.189326,-0.035765,0.146711,0.059036,NaN,-0.022766,1.0

In [ ]:
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table.csv")
arranged_table

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002672,ACH-002680,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002926
0,A1BG (1) Dep,0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.042417,0.013831,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.022010
1,A1BG (1) Exp,3.116032,4.178715,4.003602,0.137504,1.464668,1.035624,2.341986,2.662205,6.058749,...,0.000000,0.000000,3.080658,1.879706,4.274262,1.967169,3.847997,1.819668,2.990955,3.189034
2,A1CF (29974) Dep,0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.052754,0.035392,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.023496
3,A1CF (29974) Exp,0.056584,0.000000,0.014355,1.405992,3.586164,0.084064,0.028569,0.028569,0.042644,...,0.400538,0.014355,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.000000,0.000000
4,A2M (2) Dep,0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.017226,0.018151,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.012432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34561,ZYX (7791) Exp,6.821455,7.002252,6.826421,6.332708,7.853185,6.139347,6.923743,6.470862,6.826167,...,5.707359,7.018701,4.192194,5.830610,6.834281,6.560256,6.596935,6.953498,7.432041,5.182295
34562,ZZEF1 (23140) Dep,0.012679,0.004645,0.020843,0.146222,0.058402,0.058550,0.048095,0.128022,0.003396,...,0.102706,0.034621,0.051484,0.059101,0.057218,0.081846,0.048967,0.091510,0.094022,0.035919
34563,ZZEF1 (23140) Exp,3.010780,3.444932,3.524816,3.673556,3.442280,3.452859,4.137504,2.957915,4.110196,...,2.350497,3.854993,2.424922,2.508429,3.075533,2.969012,3.177918,3.087463,2.903038,2.956057
34564,ZZZ3 (26009) Dep,0.324623,0.042530,0.050412,0.274833,0.269194,0.125139,0.306162,0.580409,0.077300,...,0.494391,0.390560,0.822521,0.023483,0.300241,0.131433,0.033994,0.421153,0.438092,0.404214
34565,ZZZ3 (26009) Exp,4.381975,4.910733,5.592457,3.469886,3.351911,3.435629,4.723559,3.925050,4.129283,...,4.781360,5.486714,5.242221,3.836934,4.749534,5.276869,4.847997,4.226509,4.660495,3.785551

In [ ]:
#ok ok
import pandas as pd

# Read the CSV file into a DataFrame
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table_03.csv", index_col=0)

# Get the row names
row_names = arranged_table.index

# Calculate the Spearman correlations between rows
correlation_matrix = arranged_table.T.corr(method='spearman')

# Set the row and column names of the correlation matrix
correlation_matrix.index = row_names
correlation_matrix.columns = row_names

# Round the correlation values to three decimal places
correlation_matrix = correlation_matrix.round(3)

# Print the correlation table
correlation_matrix

DepMap_ID,A1BG (1) Dep,A1BG (1) Exp,A1CF (29974) Dep,A1CF (29974) Exp,A2M (2) Dep,A2M (2) Exp,A2ML1 (144568) Dep,A2ML1 (144568) Exp,A3GALT2 (127550) Dep,A3GALT2 (127550) Exp,...,ABCB11 (8647) Exp,ABCB4 (5244) Dep,ABCB4 (5244) Exp,ABCB5 (340273) Dep,ABCB5 (340273) Exp,ABCB6 (10058) Dep,ABCB6 (10058) Exp,ABCB7 (22) Dep,ABCB7 (22) Exp,ABCB8 (11194) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Dep,1.000,-0.030,-0.057,-0.052,0.113,0.006,0.161,-0.092,0.049,-0.038,...,-0.082,0.082,-0.085,0.117,-0.017,0.169,-0.060,-0.008,0.022,0.216
A1BG (1) Exp,-0.030,1.000,0.006,-0.251,0.077,0.117,0.052,-0.103,-0.009,0.077,...,-0.354,0.035,0.205,-0.037,0.058,0.007,0.054,0.115,0.113,0.001
A1CF (29974) Dep,-0.057,0.006,1.000,-0.042,0.020,-0.101,0.058,0.074,-0.026,0.003,...,0.049,0.001,-0.165,0.072,0.040,0.026,-0.033,0.032,0.052,0.023
A1CF (29974) Exp,-0.052,-0.251,-0.042,1.000,-0.115,0.043,-0.113,-0.022,0.046,0.050,...,0.165,-0.019,0.046,0.008,0.085,0.096,0.141,-0.170,-0.016,0.014
A2M (2) Dep,0.113,0.077,0.020,-0.115,1.000,0.013,0.169,0.016,0.042,-0.004,...,0.076,0.049,-0.033,0.056,-0.002,-0.028,0.081,0.049,-0.066,0.194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ABCB6 (10058) Dep,0.169,0.007,0.026,0.096,-0.028,-0.039,0.003,-0.168,0.113,0.057,...,0.001,0.120,0.087,0.123,-0.065,1.000,0.126,-0.000,0.010,0.147
ABCB6 (10058) Exp,-0.060,0.054,-0.033,0.141,0.081,0.287,-0.152,-0.047,0.054,0.252,...,-0.015,0.006,0.149,0.046,0.148,0.126,1.000,0.030,-0.137,0.059
ABCB7 (22) Dep,-0.008,0.115,0.032,-0.170,0.049,0.120,0.103,0.044,-0.003,-0.040,...,-0.041,-0.037,-0.020,-0.199,-0.026,-0.000,0.030,1.000,-0.080,-0.132
ABCB7 (22) Exp,0.022,0.113,0.052,-0.016,-0.066,0.042,0.090,-0.026,-0.141,-0.099,...,-0.070,0.022,0.059,0.048,-0.068,0.010,-0.137,-0.080,1.000,-0.023
ABCB8 (11194) Dep,0.216,0.001,0.023,0.014,0.194,-0.062,0.193,-0.017,0.038,0.051,...,-0.007,0.131,-0.003,0.189,-0.036,0.147,0.059,-0.132,-0.023,1.000

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table_03.csv", index_col=0)

# Get the row names
row_names = arranged_table.index

# Calculate the Spearman correlations between rows
correlation_matrix = arranged_table.T.corr(method='spearman')

# Set the row and column names of the correlation matrix
correlation_matrix.index = row_names
correlation_matrix.columns = row_names

# Select the odd-numbered rows for comparison
odd_rows = row_names[1::2]

# Select the even-numbered rows for comparison
even_rows = row_names[::2]

# Calculate the Spearman correlations between odd and even-numbered rows
correlation_matrix = correlation_matrix.loc[odd_rows, even_rows]

# Round the correlation values to three decimal places
correlation_matrix = correlation_matrix.round(3)

# Print the correlation table
correlation_matrix

DepMap_ID,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ABCA8 (10351) Dep,ABCA9 (10350) Dep,ABCB1 (5243) Dep,ABCB10 (23456) Dep,ABCB11 (8647) Dep,ABCB4 (5244) Dep,ABCB5 (340273) Dep,ABCB6 (10058) Dep,ABCB7 (22) Dep,ABCB8 (11194) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,-0.030,0.006,0.077,0.052,-0.009,0.053,0.062,-0.103,-0.005,0.013,...,-0.017,0.058,-0.056,-0.024,0.039,0.035,-0.037,0.007,0.115,0.001
A1CF (29974) Exp,-0.052,-0.042,-0.115,-0.113,0.046,-0.020,-0.031,-0.013,-0.015,-0.064,...,0.121,-0.024,-0.060,-0.034,-0.043,-0.019,0.008,0.096,-0.170,0.014
A2M (2) Exp,0.006,-0.101,0.013,-0.087,-0.006,-0.004,-0.094,-0.122,-0.027,-0.096,...,-0.042,0.001,-0.097,0.080,-0.045,-0.021,-0.093,-0.039,0.120,-0.062
A2ML1 (144568) Exp,-0.092,0.074,0.016,-0.032,-0.051,0.048,-0.098,-0.080,-0.043,-0.183,...,0.006,-0.044,0.002,-0.053,0.017,0.008,-0.052,-0.168,0.044,-0.017
A3GALT2 (127550) Exp,-0.038,0.003,-0.004,-0.056,0.042,0.072,0.071,-0.013,0.078,-0.013,...,0.105,0.040,-0.134,0.121,-0.014,0.030,0.001,0.057,-0.040,0.051
A4GALT (53947) Exp,-0.020,0.058,-0.023,-0.119,0.095,-0.063,-0.093,0.063,-0.048,0.020,...,0.020,-0.057,-0.024,-0.064,-0.075,0.124,-0.014,0.066,-0.080,0.024
A4GNT (51146) Exp,0.125,0.059,0.044,-0.051,0.140,0.008,0.108,0.120,0.137,0.009,...,0.113,0.080,-0.092,-0.044,0.088,0.096,0.032,0.011,-0.057,0.024
AAAS (8086) Exp,-0.046,-0.130,0.024,0.020,-0.087,0.107,-0.035,-0.106,-0.128,0.114,...,-0.063,-0.045,-0.087,-0.018,-0.140,-0.111,-0.002,-0.020,0.030,-0.019
AACS (65985) Exp,0.029,-0.021,-0.009,0.038,-0.016,-0.013,-0.005,-0.074,-0.013,0.003,...,0.023,-0.007,0.096,-0.002,-0.064,-0.033,0.098,-0.014,-0.006,0.124
AADAC (13) Exp,-0.119,0.008,-0.066,-0.107,0.090,-0.046,-0.065,0.156,-0.034,-0.093,...,0.088,-0.048,0.015,-0.158,0.057,-0.045,-0.047,-0.016,-0.041,-0.038
AADACL2 (344752) Exp,-0.033,0.007,0.052,-0.066,0.070,0.000,-0.086,0.031,-0.091,-0.019,...,0.052,-0.016,0.090,-0.005,-0.001,0.000,0.056,0.053,0.052,-0.016
AADACL3 (126767) Exp,0.047,0.042,-0.013,-0.035,0.055,-0.037,-0.019,0.125,0.013,0.003,...,0.005,-0.065,0.148,0.027,-0.020,-0.014,0.088,0.052,0.096,0.018
AADACL4 (343066) Exp,-0.027,-0.060,-0.035,-0.046,0.080,0.040,-0.158,-0.032,-0.007,-0.130,...,0.016,0.165,-0.034,0.042,-0.006,0.025,-0.048,-0.101,0.030,-0.036
AADAT (51166) Exp,0.102,-0.017,-0.028,-0.022,-0.007,-0.028,-0.002,-0.052,0.030,-0.057,...,0.079,-0.052,-0.057,0.031,0.053,-0.020,0.030,0.083,0.004,0.018
AAGAB (79719) Exp,-0.003,0.030,-0.145,-0.094,0.096,-0.031,-0.024,0.055,-0.055,-0.020,...,0.080,-0.080,0.006,-0.085,-0.027,-0.080,0.031,0.016,-0.103,-0.057
AAK1 (22848) Exp,0.103,0.019,0.063,-0.121,0.012,0.086,0.131,0.031,0.073,0.067,...,0.039,0.056,-0.035,0.072,0.138,0.155,-0.053,0.083,-0.080,0.109
AAMDC (28971) Exp,-0.038,0.095,0.035,-0.106,0.122,0.004,-0.036,0.063,-0.012,-0.010,...,0.072,-0.023,-0.110,0.060,0.032,0.041,-0.026,-0.031,-0.034,0.008
AAMP (14) Exp,-0.009,0.103,0.054,-0.070,0.004,0.009,-0.082,-0.032,-0.155,-0.067,...,0.084,-0.130,0.088,-0.063,-0.004,-0.076,-0.009,-0.019,0.116,0.061
AANAT (15) Exp,0.070,0.052,-0.050,0.019,-0.017,0.013,0.001,0.018,0.025,-0.054,...,0.086,-0.042,0.001,-0.001,-0.098,-0.052,0.039,-0.048,-0.044,0.008
AAR2 (25980) Exp,-0.028,-0.051,0.091,-0.081,0.059,0.037,-0.126,-0.003,0.002,-0.005,...,-0.037,0.055,-0.044,-0.034,0.005,0.094,-0.023,0.043,-0.168,0.004
AARD (441376) Exp,0.022,0.029,0.028,0.080,0.030,-0.017,0.013,-0.066,0.132,-0.107,...,0.007,-0.041,-0.002,0.022,0.061,0.124,-0.064,-0.000,0.124,-0.081
AARS1 (16) Exp,-0.074,0.084,-0.020,0.072,0.000,0.039,0.012,-0.004,-0.058,0.022,...,0.042,-0.008,0.091,0.090,0.027,0.099,0.045,0.054,0.007,0.081
AARS2 (57505) Exp,-0.149,0.055,0.079,0.000,-0.073,0.091,-0.056,-0.236,-0.034,-0.007,...,-0.125,0.030,-0.071,0.057,-0.024,-0.061,0.034,-0.042,0.060,0.006
AARSD1 (80755) Exp,-0.053,-0.078,0.023,0.046,-0.153,0.101,-0.092,-0.125,-0.060,-0.034,...,-0.098,-0.103,-0.008,0.067,0.083,-0.052,0.102,-0.050,0.020,0.006
AASDH (132949) Exp,-0.006,-0.050,0.022,0.187,-0.074,0.160,-0.023,-0.242,-0.043,-0.011,...,0.000,0.004,0.119,0.101,0.092,0.008,0.109,-0.050,0.017,0.123
AASDHPPT (60496) Exp,0.092,0.012,0.000,0.130,-0.072,0.083,-0.099,-0.075,-0.079,0.049,...,-0.028,-0.059,0.069,0.089,0.017,-0.001,0.133,0.086,0.066,0.014
AASS (10157) Exp,-0.067,0.047,0.038,-0.094,0.023,0.075,-0.075,-0.078,-0.095,0.025,...,0.001,-0.048,-0.063,0.045,0.018,0.062,-0.034,-0.028,-0.019,-0.000
AATF (26574) Exp,-0.027,0.010,-0.092,0.024,-0.067,-0.047,0.041,-0.045,-0.052,0.048,...,-0.173,-0.077,0.050,0.042,-0.052,-0.024,0.043,0.029,-0.123,0.090
AATK (9625) Exp,0.055,0.016,-0.050,-0.041,-0.116,0.057,-0.135,-0.107,0.065,-0.154,...,0.134,-0.076,-0.075,-0.029,-0.106,-0.130,0.025,-0.030,0.050,-0.013
ABAT (18) Exp,0.055,-0.003,-0.035,0.075,-0.135,0.134,-0.075,-0.129,-0.006,0.016,...,0.088,0.005,-0.013,0.064,0.031,0.038,0.098,-0.036,0.024,0.088
ABCA1 (19) Exp,0.066,0.104,-0.007,-0.010,0.061,-0.007,0.162,0.047,-0.034,0.004,...,-0.112,0.019,-0.012,0.048,0.074,0.069,-0.005,0.054,-0.105,0.065
ABCA10 (10349) Exp,-0.005,-0.019,-0.006,-0.050,0.063,-0.011,0.124,0.097,0.083,-0.044,...,0.097,0.035,0.080,-0.010,0.053,0.041,-0.014,-0.014,-0.086,0.029
ABCA12 (26154) Exp,0.064,-0.015,-0.049,0.046,0.081,-0.081,-0.014,-0.011,0.017,-0.094,...,0.237,-0.000,0.131,0.002,-0.054,0.055,0.071,-0.005,-0.035,0.020
ABCA13 (154664) Exp,-0.009,0.032,0.040,-0.085,0.119,0.023,0.012,-0.014,0.067,-0.023,...,0.071,0.057,-0.045,0.123,0.055,0.061,-0.137,0.057,-0.101,-0.051
ABCA2 (20) Exp,-0.078,0.052,-0.001,-0.010,-0.043,-0.011,-0.036,-0.069,-0.031,-0.036,...,0.161,0.032,-0.006,0.079,-0.041,-0.023,0.027,-0.086,-0.040,0.031
ABCA3 (21) Exp,0.172,0.083,0.009,0.146,-0.084,0.036,-0.014,-0.022,-0.042,-0.024,...,0.137,-0.053,0.013,0.081,-0.001,0.055,0.011,-0.013,0.016,0.047
ABCA4 (24) Exp,-0.012,0.060,-0.012,-0.102,0.148,-0.021,-0.126,-0.024,0.079,-0.042,...,0.053,-0.024,-0.023,-0.125,0.028,0.041,-0.018,-0.080,-0.039,-0.017
ABCA5 (23461) Exp,0.001,0.010,-0.004,-0.079,0.085,-0.089,0.043,0.097,0.120,-0.013,...,0.064,0.081,0.073,0.020,-0.021,0.005,-0.120,0.064,-0.017,0.019
ABCA6 (23460) Exp,-0.066,-0.063,0.052,-0.008,-0.070,0.013,0.065,0.051,0.036,-0.009,...,-0.013,0.100,-0.043,0.004,0.017,-0.038,-0.006,-0.024,-0.043,0.005
ABCA7 (10347) Exp,-0.033,0.000,-0.032,0.054,-0.123,0.119,0.073,0.021,-0.026,-0.025,...,-0.074,-0.073,0.053,0.010,0.070,-0.105,0.118,-0.119,-0.014,0.021
ABCA8 (10351) Exp,-0.017,-0.094,0.020,-0.076,0.030,0.026,-0.014,-0.045,-0.028,-0.028,...,0.004,0.039,-0.108,0.044,0.061,0.052,-0.046,0.005,-0.007,0.008
ABCA9 (10350) Exp,-0.037,-0.070,0.038,0.002,0.023,-0.020,0.026,-0.019,0.065,-0.008,...,-0.001,0.102,0.060,0.039,0.055,0.052,0.009,-0.059,-0.029,0.021
ABCB1 (5243) Exp,0.012,-0.053,-0.023,0.016,-0.048,-0.002,-0.032,-0.036,-0.013,-0.015,...,-0.061,-0.018,-0.054,0.044,0.016,0.049,-0.036,0.133,-0.060,0.088
ABCB10 (23456) Exp,0.001,-0.027,0.020,0.092,-0.139,0.062,-0.093,-0.055,-0.104,0.032,...,-0.104,0.008,0.020,0.123,-0.053,-0.057,0.041,0.002,0.070,0.038
ABCB11 (8647) Exp,-0.082,0.049,0.076,-0.009,-0.013,-0.051,-0.102,0.039,-0.097,-0.077,...,0.026,-0.062,0.129,-0.019,0.072,0.000,0.088,0.001,-0.041,-0.007
ABCB4 (5244) Exp,-0.085,-0.165,-0.033,-0.048,0.068,0.022,0.002,-0.143,0.082,-0.038,...,-0.098,0.105,-0.034,0.039,0.047,0.065,-0.035,0.087,-0.020,-0.003
ABCB5 (340273) Exp,-0.017,0.040,-0.002,-0.091,0.090,-0.019,-0.067,-0.003,0.086,-0.043,...,-0.011,-0.063,-0.009,0.025,0.064,0.031,-0.060,-0.065,-0.026,-0.036
ABCB6 (10058) Exp,-0.060,-0.033,0.081,-0.152,0.054,0.100,-0.145,-0.066,0.017,-0.052,...,0.220,0.017,-0.118,0.072,0.062,0.006,0.046,0.126,0.030,0.059
ABCB7 (22) Exp,0.022,0.052,-0.066,0.090,-0.141,0.072,0.009,0.003,-0.020,0.104,...,-0.111,0.013,0.044,0.047,0.035,0.022,0.048,0.010,-0.080,-0.023

In [ ]:
import pandas as pd
correlation_table = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/correlation_table.csv")
correlation_table

,DepMap_ID,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
0,A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,...,-0.025,-0.080,0.022,0.104,-0.032,-0.002,-0.046,0.051,0.056,0.012
1,A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,...,-0.013,0.015,-0.032,0.021,-0.003,0.001,-0.003,-0.009,0.030,0.046
2,A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,...,-0.071,-0.075,0.028,0.045,-0.010,0.037,-0.047,-0.004,-0.023,-0.002
3,A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,...,-0.090,0.074,-0.034,0.004,0.038,-0.036,0.047,-0.201,-0.103,-0.010
4,A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,...,-0.040,-0.031,0.084,0.078,0.011,0.079,0.104,0.016,0.015,0.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,PDK2 (5164) Exp,0.017,-0.031,-0.043,0.006,0.086,0.100,-0.029,0.115,0.020,...,-0.070,-0.109,0.017,0.065,0.014,0.004,0.066,0.106,0.031,-0.006
10601,PDK3 (5165) Exp,-0.030,0.039,0.015,-0.014,-0.049,-0.035,-0.043,0.010,-0.010,...,-0.051,0.022,-0.041,-0.005,0.021,0.019,-0.049,-0.007,-0.013,-0.092
10602,PDK4 (5166) Exp,-0.041,-0.004,0.040,-0.019,0.054,-0.007,-0.022,0.043,0.023,...,-0.077,-0.055,0.089,0.080,0.027,0.038,0.029,0.086,0.011,0.068
10603,PDLIM1 (9124) Exp,0.006,0.017,-0.029,-0.041,0.042,-0.044,-0.022,-0.040,-0.094,...,-0.004,0.090,-0.041,-0.040,-0.002,0.002,0.058,-0.070,-0.072,0.066
10604,PDLIM2 (64236) Exp,0.071,-0.051,-0.000,-0.003,0.060,-0.015,0.092,0.124,0.165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN