<a href="https://colab.research.google.com/github/chingyaousf/Intern-project/blob/main/intern_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dependency_transposed = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dependency_transposed.csv")
gene_expression_transposed = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/gene_expression_transposed.csv")

# Find the common column names
common_columns = dependency_transposed.columns.intersection(gene_expression_transposed.columns)

# Filter the dataframes based on the common column names
dependency_filtered = dependency_transposed[common_columns]
gene_expression_filtered = gene_expression_transposed[common_columns]

# Concatenate the filtered dataframes
merged_columns = pd.concat([dependency_filtered, gene_expression_filtered], axis=0)

# Reset the index
merged_columns.reset_index(drop=True, inplace=True)
merged_columns

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002672,ACH-002680,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002926
0,A1BG (1),0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.042417,0.013831,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.022010
1,A1CF (29974),0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.052754,0.035392,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.023496
2,A2M (2),0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.017226,0.018151,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.012432
3,A2ML1 (144568),0.025962,0.033215,0.005448,0.011299,0.011721,0.003488,0.002901,0.009602,0.015126,...,0.029292,0.076277,0.003171,0.130600,0.030460,0.034174,0.005053,0.013315,0.030234,0.007420
4,A3GALT2 (127550),0.073412,0.013176,0.018599,0.027288,0.030062,0.047524,0.011829,0.091157,0.037230,...,0.132399,0.083078,0.016659,0.019573,0.081002,0.139199,0.154874,0.107286,0.069976,0.018041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36602,ELOA3B (728929),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.028569,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36603,NPBWR1 (2831),0.028569,0.000000,0.000000,0.000000,0.000000,0.000000,0.163499,0.028569,1.448901,...,1.405992,0.000000,0.000000,0.056584,0.111031,0.000000,1.117695,1.263034,1.333424,0.000000
36604,ELOA3D (100506888),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.000000,0.097611,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36605,ELOA3 (162699),0.214125,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.028569,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36606,CDR1 (1038),0.014355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097611,...,0.000000,0.495695,0.000000,0.400538,0.097611,0.000000,0.000000,1.124328,0.000000,0.000000

In [4]:
# Find the common row names
common_rows = merged_columns.index.unique()

# Create a list to store the arranged data
arranged_data = []

# Iterate over the common row names and arrange the data
for row_name in common_rows:
    # Select the rows with the common row name from merged_columns
    common_row = merged_columns.loc[[row_name]]
    
    # Append the row to the arranged data list
    arranged_data.append(common_row)
    
# Concatenate the arranged data into a single DataFrame
arranged_columns = pd.concat(arranged_data, ignore_index=True)

# Reset the index
arranged_columns.reset_index(drop=True, inplace=True)
arranged_columns

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002672,ACH-002680,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002926
0,A1BG (1),0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.042417,0.013831,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.022010
1,A1CF (29974),0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.052754,0.035392,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.023496
2,A2M (2),0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.017226,0.018151,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.012432
3,A2ML1 (144568),0.025962,0.033215,0.005448,0.011299,0.011721,0.003488,0.002901,0.009602,0.015126,...,0.029292,0.076277,0.003171,0.130600,0.030460,0.034174,0.005053,0.013315,0.030234,0.007420
4,A3GALT2 (127550),0.073412,0.013176,0.018599,0.027288,0.030062,0.047524,0.011829,0.091157,0.037230,...,0.132399,0.083078,0.016659,0.019573,0.081002,0.139199,0.154874,0.107286,0.069976,0.018041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36602,ELOA3B (728929),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.028569,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36603,NPBWR1 (2831),0.028569,0.000000,0.000000,0.000000,0.000000,0.000000,0.163499,0.028569,1.448901,...,1.405992,0.000000,0.000000,0.056584,0.111031,0.000000,1.117695,1.263034,1.333424,0.000000
36604,ELOA3D (100506888),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.000000,0.097611,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36605,ELOA3 (162699),0.214125,0.000000,0.000000,0.000000,0.000000,0.000000,0.014355,0.028569,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36606,CDR1 (1038),0.014355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097611,...,0.000000,0.495695,0.000000,0.400538,0.097611,0.000000,0.000000,1.124328,0.000000,0.000000