<a href="https://colab.research.google.com/github/chingyaousf/Intern-project-2023/blob/main/scripts/intern_04_Dep_Exp_transpose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Read in the 22Q2 CRISPR_gene_dependency.csv
dependency = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/22Q2 CRISPR_gene_dependency.csv")
dependency

In [ ]:
#Transpose depency and save to dependency_transposed.csv

# Read the CSV file
dependency = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/22Q2 CRISPR_gene_dependency.csv")

# Transpose the DataFrame
dependency_transposed = dependency.transpose()

# Reset the index and set new column names
dependency_transposed = dependency_transposed.reset_index()
dependency_transposed.columns = dependency_transposed.iloc[0]
dependency_transposed = dependency_transposed.iloc[1:]

# Adjust the leftmost column to count from 0
dependency_transposed.reset_index(drop=True, inplace=True)

# Save the transposed DataFrame to a CSV file
dependency_transposed.to_csv("/content/drive/MyDrive/Colab Notebooks/dependency_transposed.csv", index=False)

dependency_transposed

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002874,ACH-002875,ACH-002926
0,A1BG (1),0.094568,0.012676,0.053957,0.026704,0.059383,0.00921,0.132594,0.062889,0.035633,...,0.047499,0.011662,0.033124,0.063758,0.030591,0.01272,0.058547,0.169875,0.035519,0.02201
1,A1CF (29974),0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.06664,...,0.025195,0.228509,0.062557,0.039244,0.040334,0.08384,0.079576,0.01743,0.099789,0.023496
2,A2M (2),0.02746,0.075933,0.010139,0.008853,0.01537,0.014967,0.004661,0.022577,0.014464,...,0.011518,0.095412,0.023368,0.029825,0.00188,0.013308,0.036707,0.017965,0.071748,0.012432
3,A2ML1 (144568),0.025962,0.033215,0.005448,0.011299,0.011721,0.003488,0.002901,0.009602,0.015126,...,0.003171,0.1306,0.03046,0.034174,0.005053,0.013315,0.030234,0.008615,0.048479,0.00742
4,A3GALT2 (127550),0.073412,0.013176,0.018599,0.027288,0.030062,0.047524,0.011829,0.091157,0.03723,...,0.016659,0.019573,0.081002,0.139199,0.154874,0.107286,0.069976,0.117915,0.245413,0.018041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17381,ZYG11A (440590),0.082956,0.060266,0.034712,0.035241,0.18955,0.009149,0.049289,0.057496,0.052079,...,0.048615,0.19294,0.088344,0.068998,0.040005,0.029711,0.072452,0.077515,0.101216,0.028312
17382,ZYG11B (79699),0.012,0.128375,0.092832,0.138445,0.328064,0.056635,0.045852,0.056781,0.025882,...,0.071002,0.129713,0.075614,0.144264,0.077345,0.024132,0.131375,0.094231,0.087739,0.104833
17383,ZYX (7791),0.003592,0.005911,0.012482,0.103161,0.035161,0.062535,0.07785,0.035514,0.24309,...,0.130375,0.005328,0.178157,0.067693,0.038227,0.174946,0.115486,0.166188,0.050947,0.008261
17384,ZZEF1 (23140),0.012679,0.004645,0.020843,0.146222,0.058402,0.05855,0.048095,0.128022,0.003396,...,0.051484,0.059101,0.057218,0.081846,0.048967,0.09151,0.094022,0.058117,0.182081,0.035919
17385,ZZZ3 (26009),0.324623,0.04253,0.050412,0.274833,0.269194,0.125139,0.306162,0.580409,0.0773,...,0.822521,0.023483,0.300241,0.131433,0.033994,0.421153,0.438092,0.302708,0.349872,0.404214

In [ ]:
dependency_transposed = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dependency_transposed.csv")
dependency_transposed

,DepMap_ID,ACH-000001,ACH-000004,ACH-000005,ACH-000007,ACH-000009,ACH-000011,ACH-000012,ACH-000013,ACH-000014,...,ACH-002687,ACH-002693,ACH-002710,ACH-002785,ACH-002800,ACH-002834,ACH-002847,ACH-002874,ACH-002875,ACH-002926
0,A1BG (1),0.094568,0.012676,0.053957,0.026704,0.059383,0.009210,0.132594,0.062889,0.035633,...,0.047499,0.011662,0.033124,0.063758,0.030591,0.012720,0.058547,0.169875,0.035519,0.022010
1,A1CF (29974),0.012519,0.049011,0.027968,0.083588,0.051826,0.026635,0.023306,0.083143,0.066640,...,0.025195,0.228509,0.062557,0.039244,0.040334,0.083840,0.079576,0.017430,0.099789,0.023496
2,A2M (2),0.027460,0.075933,0.010139,0.008853,0.015370,0.014967,0.004661,0.022577,0.014464,...,0.011518,0.095412,0.023368,0.029825,0.001880,0.013308,0.036707,0.017965,0.071748,0.012432
3,A2ML1 (144568),0.025962,0.033215,0.005448,0.011299,0.011721,0.003488,0.002901,0.009602,0.015126,...,0.003171,0.130600,0.030460,0.034174,0.005053,0.013315,0.030234,0.008615,0.048479,0.007420
4,A3GALT2 (127550),0.073412,0.013176,0.018599,0.027288,0.030062,0.047524,0.011829,0.091157,0.037230,...,0.016659,0.019573,0.081002,0.139199,0.154874,0.107286,0.069976,0.117915,0.245413,0.018041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17381,ZYG11A (440590),0.082956,0.060266,0.034712,0.035241,0.189550,0.009149,0.049289,0.057496,0.052079,...,0.048615,0.192940,0.088344,0.068998,0.040005,0.029711,0.072452,0.077515,0.101216,0.028312
17382,ZYG11B (79699),0.012000,0.128375,0.092832,0.138445,0.328064,0.056635,0.045852,0.056781,0.025882,...,0.071002,0.129713,0.075614,0.144264,0.077345,0.024132,0.131375,0.094231,0.087739,0.104833
17383,ZYX (7791),0.003592,0.005911,0.012482,0.103161,0.035161,0.062535,0.077850,0.035514,0.243090,...,0.130375,0.005328,0.178157,0.067693,0.038227,0.174946,0.115486,0.166188,0.050947,0.008261
17384,ZZEF1 (23140),0.012679,0.004645,0.020843,0.146222,0.058402,0.058550,0.048095,0.128022,0.003396,...,0.051484,0.059101,0.057218,0.081846,0.048967,0.091510,0.094022,0.058117,0.182081,0.035919
17385,ZZZ3 (26009),0.324623,0.042530,0.050412,0.274833,0.269194,0.125139,0.306162,0.580409,0.077300,...,0.822521,0.023483,0.300241,0.131433,0.033994,0.421153,0.438092,0.302708,0.349872,0.404214

In [ ]:
# Read in the 22Q2 CCLE_expression.csv for gene_expression
gene_expression = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/22Q2 CCLE_expression.csv",index_col=0)
gene_expression

In [ ]:
#Transpose gene_expression and save to gene_expression_transposed.csv

# Read the CSV file
gene_expression = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/22Q2 CCLE_expression.csv")

# Transpose the DataFrame
gene_expression_transposed = gene_expression.transpose()

# Reset the index and set new column names
gene_expression_transposed = gene_expression_transposed.reset_index()
gene_expression_transposed.columns = gene_expression_transposed.iloc[0]
gene_expression_transposed = gene_expression_transposed.iloc[1:]

# Adjust the leftmost column to count from 0
gene_expression_transposed.reset_index(drop=True, inplace=True)

# Change the value in the "Unnamed: 0" column to "DepMap_ID"
gene_expression_transposed.rename(columns={"Unnamed: 0": "DepMap_ID"}, inplace=True)

# Save the transposed DataFrame to a CSV file
gene_expression_transposed.to_csv("/content/drive/MyDrive/Colab Notebooks/gene_expression_transposed.csv", index=False)

gene_expression_transposed

In [ ]:
gene_expression_transposed = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/gene_expression_transposed.csv")
gene_expression_transposed

,DepMap_ID,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,TSPAN6 (7105),4.331992,4.566815,3.150560,5.085340,6.729145,4.272023,3.337711,0.056584,4.016140,...,6.344828,4.018812,4.328406,5.994806,3.533563,0.056584,3.109361,4.390943,5.057017,4.247928
1,TNMD (64102),0.000000,0.584963,0.000000,0.000000,0.000000,0.189034,0.000000,0.000000,0.000000,...,3.400538,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,DPM1 (8813),7.364397,7.106537,7.379032,7.154109,6.537607,7.022923,5.927185,6.093602,6.533875,...,7.211207,6.700578,7.058749,6.238787,6.488322,6.604071,7.031219,7.013127,7.814935,6.174127
3,SCYL3 (57147),2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.970854,2.226509,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.264536,1.541019,1.887525,2.538538,2.316146
4,C1orf112 (55732),4.470537,3.504620,4.227279,3.084064,3.867896,3.841973,2.678072,3.731183,3.021480,...,4.373648,2.531069,3.529821,4.000000,3.308885,4.972693,3.664483,3.252476,3.893362,3.823749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19216,ELOA3B (728929),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.124328,0.000000,0.000000,...,0.000000,0.000000,0.042644,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.042644
19217,NPBWR1 (2831),0.275007,0.014355,0.084064,0.028569,0.464668,0.000000,0.176323,0.000000,0.014355,...,0.028569,0.014355,0.014355,0.000000,0.124328,0.000000,0.014355,1.464668,0.000000,0.000000
19218,ELOA3D (100506888),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.056584,0.028569,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19219,ELOA3 (162699),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.084064,0.000000,0.000000,...,0.000000,0.000000,0.042644,0.000000,0.000000,0.475085,0.000000,0.000000,0.000000,0.176323
19220,CDR1 (1038),0.000000,0.000000,0.042644,0.000000,0.000000,0.000000,0.238787,0.000000,0.000000,...,0.201634,0.000000,0.084064,0.000000,0.201634,0.042644,0.000000,0.526069,0.000000,0.056584